.col-md-6.col-md-offset-3
	.row
		.panel.panel-default
			.panel-heading
				%h1 Edit Pin
			.panel-body
				%strong.center Current File
				= file_field @pin.attachment
				%br/
				= render 'form'
				= link_to "Cancel", pin_path